@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
.CardForCharacter{
    width: 350px;
    height: 470px;
    text-align: center;
    background-color: #d3d3d3;
    margin: 30px;
    margin-left: 60px;
    border-radius: 6px;
    box-shadow: 2px 4px 9px #333;
    transition: ease-in-out 0.2s;
}
.Images{
    width: 350px;
    height: 340px;
    background-position: center;
    background-repeat: no-repeat;
}
.Names{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    margin: 12px 0 2px 0;
    padding: 0;
    color: #000;
}
.Nicknames{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 3px 0 2px 0;
    color: #000;
}
.Occupations{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 3px 0 2px 0;
    color: #000;
}
.CardForCharacter:hover{
    box-shadow: 1px 13px 17px #333;
}

@media(max-width:769px){
    .CardForCharacter{
        width: 300px;
        height: 420px;
        margin-left: 40px;
    }
    .Images{
        width: 300px;
        height: 290px;
        background-position: center;
        background-repeat: no-repeat;
    }
}