.footerSection{
    width: 100%;
    height: 110px;
    background-color: rgb(151, 147, 147);
    margin-top: 10px;
}
.footerTitle{
    position: relative;
    top: 10%;
    font-weight: 200;
    padding-left: 10px;
}
.documentation{
    float: right;
    position: relative;
    right: 2%;
    font-weight: 300;
    font-size: 23px;
    padding: 0;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    margin-top: -40px;
}
.documentation:hover{
    color: #000;
    text-decoration: none;
}
.githublogo{
    position: relative;
    margin-left: 191vh;
    font-size: 40px;
    cursor: pointer;
    color: #000;
}
.githublogo:hover{
    color: #000;
    text-decoration: none;
}
@media(max-width:1024px){
    .githublogo{
        margin-left: 131vh;
    } 
}
@media(max-width:769px){
    .githublogo{
        margin-left: 98vh;
    } 
}
@media(max-width:380px){
    .footerSection{
       display: none;
    }
}