.QuotesSection{
    opacity: 2;
    width: 100%;
    height: 500px;
    margin-bottom: 30vh;
}
.QuotesSection::before,
.QuotesSection::after{
    box-sizing: border-box;
    content : "";
    position: absolute;
    transition: transform ease-in-out 800ms;
}
.QuotesSection::before{
    border-top: 1px solid #000;
    top: 60em;
    left: 7em;
    right: 7em;
    transform: scale(0,1);
    transform-origin: center;
}
.QuotesSection::after{
    border-bottom: 1px solid #000;
    bottom: -64em;
    left: 7em;
    right: 7em;
    transform: scale(0,1);
    transform-origin: center;
}
.QuotesSection:hover::before, .QuotesSection:hover::after{
    transform: scale(1,1);
}
.text{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: 200;
}
.quotesSectionTitle{
    margin: 15vh 10vh 5vh 10vh;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}
.moreQuotes{
    font-size: 20px;
    text-align: center;
    color: #333;
    cursor: pointer;
}
.moreQuotesLink{
    color: #333;
    text-decoration: none;
}
.moreQuotesLink:hover{
    color: rgb(119, 116, 116);
    cursor: pointer;
    text-decoration: none;
}
@media(max-width:1024px){
    .QuotesSection::after{
        bottom: -63em;
    }
}
@media(max-width:769px){
    .QuotesSection{
        margin-top: 60vh;
        margin-left: 2vh;
    }
    .QuotesSection::before{
        margin-right: 0;
        left: 1em;
        right: 1em;
    }
    .QuotesSection::after{
        margin-right:0;
        bottom: -68em;
        left: 1em;
        right: 1em;
    }
}
@media(max-width:380px){
    .QuotesSection{
        margin-top: -30vh;
        margin-left: 0vh;
    }
    .QuotesSection::before{
        margin-right:0vh;
        top : 70% ;
        left: 1em;
        right: 1em;
    }
    .QuotesSection::after{
        margin-right:0vh;
        bottom: -50em;
        left: 1em;
        right: 1em;
    }
}